body, div, ul, li, p, a {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

hr {
	width: 70%;
}

#mainText {
    text-shadow:1px 1px 3px gray;
	text-align: center;
	font-family: 'Microsoft YaHei UI';
}

.red {
    color: red;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

img.noBorder {
    border: 0px;
}
