body {
    background-color: black;
    color: lightgreen;
    font-family: Consolas, MS Gothic, monospace;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
