body {
    background-color: black;
    color: lightgreen;
    font-family: 'DejaVu Sans Mono', Consolas, 'Roboto Mono', Meiryo;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
